.body {
  font-family: 'Viga', sans-serif !important;
  
}

.text-slanted {
  font-family: 'EB Garamond', serif;
}

.text-warning {
  color: #E638C5 !important;
  font-weight: normal;
}

.btn {
  font-family: 'EB Garamond', serif;
}

/* RecipeSearch component */
.search-area {
  padding-bottom: 10px;
  border-top: 5px solid #E638C5;
}

.form-control {
  border: 1px solid #016C65;
}

.form-control:focus {
  border: 1px solid #016C65;
  box-shadow: 0 0 0 0rem #E6F4EC !important;
}

.input-group-append>button {
  box-shadow: 0 0 0 0rem #E6F4EC !important;
}

/* RecipeList component */
.list-area {
  background: #F4E6E6;
}

.list-area h1,h5 {
  color: #016C65 !important;
}

.btn-dark {
  background-color: #016C65 !important;
  color: #fff !important;
  border-color: #016C65 !important;
}

.btn-dark:hover {
  background-color: #fff !important;
  color: #016C65 !important;
  border-color: #016C65 !important;
}

/* Recipe component */
.card {
  border: 1px solid rgba(0,0,0,1) !important;
}

.card-footer {
  background: #fff!important;
  border-top: none;
}

/* RecipeDetails component */
.details-area {
  border-top: 5px solid #E638C5;
}

.details-area h3 {
  color: #016C65 !important;
}

.btn-warning {
  background-color: #E638C5 !important;
  color: #fff;
  border-color: #E638C5 !important;
}

.btn-warning:hover {
  background-color: #fff !important;
  color: #E638C5;
  border: 1px solid #E638C5 !important;
}

.btn-warning:focus {
box-shadow: 0 0 0 0.2rem rgb(230, 56, 197, .5) !important;
}